<header class="header">
    <div class="head-container">
        <div class="left">
            <a href="/">
                <div class="logo">
                    <figure>
                        <img src="/assets/image/logo.png" alt="logo">
                    </figure>
                    <div class="fix-size"></div>
                </div>
            </a>
            <a href="/">
                <div class="logo-scroll">
                    <figure>
                        <img src="/assets/image/logo-bg.png" alt="logo">
                    </figure>
                </div>
            </a>
            <nav class="nav">
                <ul>
                    <li> <a href="#">Home </a></li>
                    <li> <a href="#">Menu </a></li>
                    <li> <a href="#">Promos & Events </a></li>
                    <li> <a href="#">Gallery </a></li>
                    <li> <a href="#">About Nam Phuong </a></li>
                    <li> <a href="#">Career </a></li>
                    <li> <a href="#">Contact </a></li>
                </ul>
            </nav>
        </div>
        <div class="right">
            <button class="res">Reservation</button>
            <button class="order">Order online</button>
        </div>
    </div>

    <div class="mobile-header">
        <a href="/">
            <div class="logo">
                <figure>
                    <img src="/assets/image/logo-mobile.svg" alt="logo">
                </figure>
            </div>
        </a>

        <button class="breadcrumb-button">
            <figure>
                <img src="/assets/image/icon/3bar.svg" alt="">
            </figure>
        </button>

        <div class="breadcrumb-header">
            <div class="top">
                <a href="/">
                    <div class="logo">
                        <figure>
                            <img src="/assets/image/logo-mobile.svg" alt="logo">
                        </figure>
                    </div>
                </a>
                <button class="breadcrumb-close">
                    <figure>
                        <img src="/assets/image/icon/close.svg" alt="">
                    </figure>
                </button>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Promos & Events</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">About Nam Phuong</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="right">
                <button class="res">Reservation</button>
                <button class="order">Order online</button>
            </div>
        </div>
    </div>
</header>