<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style/main.css" />
    <link rel="stylesheet" href="/assets/style/main.scss" />
    <title>Test</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

</head>

<body>
    <header class="header scroll">
        <div class="head-container scroll">
            <div class="left">
                <div class="logo">
                    <figure>
                        <img src="/assets/image/logo.png" alt="logo">
                    </figure>
                    <div class="fix-size"></div>
                </div>
                <div class="logo-scroll">
                    <figure>
                        <img src="/assets/image/logo-bg.png" alt="logo">
                    </figure>
                </div>
                <nav class="nav">
                    <ul>
                        <li> <a href="#">Home </a></li>
                        <li> <a href="#">Menu </a></li>
                        <li> <a href="#">Promos & Events </a></li>
                        <li> <a href="#">Gallery </a></li>
                        <li> <a href="#">About Nam Phuong </a></li>
                        <li> <a href="#">Career </a></li>
                        <li> <a href="#">Contact </a></li>
                    </ul>
                </nav>
            </div>
            <div class="right">
                <button class="res">Reservation</button>
                <button class="order">Order online</button>
            </div>
        </div>
    </header>

    <div class="career-detail">
        <section class="main-content">
            <div class="container">
                <div class="detail">
                    <div class="stick-left">
                        <div class="button-list">
                            <a href="#" class="">
                                <figure>
                                    <img src="/assets/image/icon/fb-detail.svg" alt="">
                                </figure>
                            </a>
                            <a href="#" class="">
                                <figure>
                                    <img src="/assets/image/icon/mail-detail.svg" alt="">
                                </figure>
                            </a>
                            <a href="#" class="">
                                <figure>
                                    <img src="/assets/image/icon/link-detail.svg" alt="">
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="right">
                        <h1>Restaurant Cashier</h1>
                        <div class="main-context">
                            <div class="main">
                                <div class="context">
                                    <h2>Event description</h2>
                                    <ul>
                                        <li>Insurance policy</li>
                                        <li> Travel</li>
                                        <li>Business fees</li>
                                    </ul>
                                    <ul>
                                        <li>Bonus</li>
                                        <li>Growth</li>
                                    </ul>
                                </div>
                                <div class="context">
                                    <h2>Information</h2>
                                    <p>As a restaurant cashier, you will handle customer transactions, process payments,
                                        and provide accurate change. You ensure smooth operations by taking orders,
                                        issuing receipts, and answering any payment-related inquiries. Cashiers may also
                                        assist with balancing the cash register, managing credit card payments, and
                                        maintaining a clean checkout area. Strong customer service skills and attention
                                        to detail are essential for this role.</p>
                                </div>
                                <div class="context">
                                    <h2>Responsibilities</h2>
                                    <ul>
                                        <li>Manage transactions with customers using cash registers</li>
                                        <li>Scan goods and ensure pricing is accurate</li>
                                        <li>Collect payments whether in cash or credit</li>
                                        <li>Issue receipts, refunds, change, or tickets</li>
                                        <li>Redeem stamps and vouchers</li>
                                        <li> Cross-sell products and introduce new ones</li>
                                        <li> Maintain clean and tidy checkout areas</li>
                                        <li>Track transactions on balance sheets and report any discrepancies</li>
                                        <li> Handle merchandise returns and exchanges</li>
                                    </ul>
                                </div>
                                <div class="context">
                                    <h2>We looking for</h2>
                                    <p>If you have any questions, please contact us via contact information.</p>
                                </div>
                            </div>
                            <div class="more">
                                <div class="more-info">
                                    <figure>
                                        <img src="/assets/image/icon/hire-location.svg" alt="">
                                    </figure>
                                    <div class="more-context">
                                        <h3>Location</h3>
                                        <span>5495 Jimmy Carter Blvd Ste 105, Norcross, GA, United States,
                                            Georgia</span>
                                    </div>
                                </div>

                                <div class="more-info">
                                    <figure>
                                        <img src="/assets/image/icon/hire-salary.svg" alt="">
                                    </figure>
                                    <div class="more-context">
                                        <h3>Number of people</h3>
                                        <span>4</span>
                                    </div>
                                </div>

                                <div class="more-info primary">
                                    <figure>
                                        <img src="/assets/image/icon/hire-salary.svg" alt="">
                                    </figure>
                                    <div class="more-context">
                                        <h3>Salary</h3>
                                        <span>$1500 / month</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="other">
                    <h2>More position</h2>
                    <div class="grid-view">
                        <div class="hire-content">
                            <div class="top">
                                <h2>Head chef</h2>
                                <div class="tag-wrap">
                                    <div class="tag-info primary">
                                        <span>Fulltime</span>
                                    </div>
                                    <div class="tag-info">
                                        <figure>
                                            <img src="/assets/image/icon/hire-location.svg" alt="">
                                        </figure>
                                        <span>Jimmy Carter</span>
                                    </div>
                                    <div class="tag-info">
                                        <figure>
                                            <img src="/assets/image/icon/hire-salary.svg" alt="">
                                        </figure>
                                        <span>$1500 / month</span>
                                    </div>
                                </div>
                            </div>
                            <div class="middle">
                                <div class="infomation-row">
                                    <figure>
                                        <img src="/assets/image/icon/two-round.svg" alt="">
                                    </figure>
                                    <div class="info">
                                        <h2>Number of people</h2>
                                        <span>4</span>
                                    </div>
                                </div>
                                <div class="infomation-row">
                                    <figure>
                                        <img src="/assets/image/icon/hand-watch.svg" alt="">
                                    </figure>
                                    <div class="info">
                                        <h2>Application deadline</h2>
                                        <span>07/28/2024</span>
                                    </div>
                                </div>
                            </div>


                            <a href="#" class="button-primary">
                                Apply Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="cta">
            <div class="context">
                <h2>Where Friends meet & Family gather</h2>
                <p>Vietnamese cuisine</p>
                <a target="_blank" href="#" class="cta-bu-tton">lOCATION AT JIMMY CARTER</a>
            </div>
        </section>
    </div>

    <footer>
        <div class="footer">
            <div class="top">
                <div class="container">
                    <a href="/" class="logo">
                        <figure>
                            <img src="/assets/image/footer-logo.png" class="" alt="footer">
                        </figure>
                    </a>

                    <div class="col-1">
                        <h2>OVERVIEW</h2>
                        <ul>
                            <li>
                                <a href="#" class="">Home</a>
                            </li>
                            <li>
                                <a href="#" class="">Menu</a>
                            </li>
                            <li>
                                <a href="#" class="">Gallery</a>
                            </li>
                            <li>
                                <a href="#" class="">About Nam Phuong</a>
                            </li>
                            <li>
                                <a href="#" class="">Career</a>
                            </li>
                            <li>
                                <a href="#" class="">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <h2>RESOURCES</h2>
                        <ul>
                            <li>
                                <a href="#" class="">Help center</a>
                            </li>
                            <li>
                                <a href="#" class="">Terms of use</a>
                            </li>
                            <li>
                                <a href="#" class="">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h2>CONTACT INFO</h2>

                        <div class="contact">
                            <a href="#" class="contact-row">
                                <figure><img src="/assets/image/icon/map-point.svg" alt=""></figure>
                                <p>5495 Jimmy Carter Blvd Ste c105, Norcross, GA 30093</p>
                            </a>
                            <a href="#" class="contact-row">
                                <figure><img src="/assets/image/icon/phone.svg" alt=""></figure>
                                <p>+1 770-409-8686</p>
                            </a>
                            <a href="#" class="contact-row">
                                <figure><img src="/assets/image/icon/clock-circle-2.svg" alt=""></figure>
                                <p>Monday – Sunday | 08:00 to 22:30</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="container">
                    <p class="copyright">
                        Copyright @2024 Nam Phuong at Jimmy Carter Restaurant | Designed by Qixtech - Web Design &
                        Digital Marketing
                    </p>
                    <div class="social-container">
                        <a href="#">
                            <figure>
                                <img src="/assets/image/icon/fb.svg" alt="">
                            </figure>
                        </a>
                        <a href="#">
                            <figure>
                                <img src="/assets/image/icon/email.svg" alt="">
                            </figure>
                        </a>
                        <a href="#">
                            <figure>
                                <img src="/assets/image/icon/phone-to.svg" alt="">
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- modal script -->
    <script defer src="/assets/js/modal.js"></script>


</body>

</html>